.logo-size {
  height: 8rem; /* 128px, h-32 */
  width: 8rem; /* 128px, w-32 */
  max-width: 50vw;
}

@media (min-width: 768px) {
  .logo-size {
    height: 12rem; /* 192px, h-48 */
    width: 12rem; /* 192px, w-48 */
  }
}
